  *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #signin{
    width: 50%;
    margin:  auto;
    /* border: 2px solid red; */
    text-align: center;
    font-size:xx-large;
   }
   input{
    box-sizing: border-box;
    /* justify-content: space-between; */
    /* border: 2px solid blueviolet; */
    width: 80%;
    margin:18px ;
    font-size: xx-large;
    /* align-content: center; */
    padding: 18px 18px;
    border-radius: 10px;
   }

   input[type="submit"]{
    background-color: red;
    color: white;
    padding: 18px 18px;
   }
   input[type="submit"]:hover{
    background-color: rgb(113, 3, 3);
   }
  .nav div{
 font-size: x-large;

  }
  #nav{
    /* box-sizing: border-box; */
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red ; */
  height: 100px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
   }
    #nav>.first{
      display: flex;
      /* border: 2px solid black; */

    }
    .logo {
      /* border: 2px solid black; */
      display: flex;
      align-items: center;
      height: fit-content;
      box-sizing: border-box;
      overflow: hidden;
     
    }
     img{
      height: 50px;
    }
    #links{
      display: flex;
      justify-content: space-around;
      /* border: 2px solid brown; */
      font-size: 20px;
      width: 35%;
      
      
    }
    a{
      text-decoration: none;
      font-weight: bold;
    }
    .sticky {
position: fixed;
top: 0;
width: 100%;

}

.sticky + .content {
padding-top: 60px;
}
/* Footer Css */

#eleven{
  display: flex;
  /* padding-left: px; */
  padding-right: 5px;
  border-top: 1px solid darkgrey;
}
#eleven>div>img{
  width: 32%;
  height: 15%;    
  padding: 5px;
}
.e1a{
  display: flex;
  justify-content: space-between;
  width: 65%;
  align-items: center;
  /* padding: 10px; */
  border: 1px solid red;
  padding: 10px 10px 10px 10px;
  padding-right: 20px;
  border-radius: 5px;
}
.e1a>a{
  background-color: red;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.e1a>input{
  border: none;
  padding: 5px;

}
#twelve{
  display: flex;
  justify-content: space-evenly;
 /* padding-left: 30px; */
 padding-right: 30px;
  align-items: center;
  flex-wrap: wrap;
  /* color: gray; */
  gap: 30px;
  margin: auto;
  
}
.e2{
  padding: 10px;
  border-right: 1px solid gray;
}
.e2>h2{
  color: black;
}
.e2>p{
  color: gray;
}
.e2:last-child{
  border: none;
}
#thirteen{
  display: flex;
  /* justify-content: space-between; */
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 30px;
  /* border: 1px solid black; */
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
#thirteen>img{
  /* width: 1%; */
  margin-left: 5px;
  padding-left: 25px;
}
#fourteen{
  display: flex;
   justify-content: space-between;
   /* border: 1px solid black; */
   border-bottom: 1px solid gray;
}
.ft1a{
  /* border: 1px solid black; */
  margin-left: 40px;
}
.ft1b{
  width: 100%;
  height: 55%;
  /* border: 1px solid black; */
  
}
.ft1b>img{
  /* width: 20%; */
  padding-left: 40px;
}
.ft2a{
  /* border: 1px solid black; */
  margin-left: 15px;
}
.ft2b>img{
  display: flex;
  width: 20%;
  height: 30px;
  /* border: 1px solid black; */
  margin: auto;
  padding: 10px;
}
.ft2b{
  display: flex;
  /* border: 1px solid black; */
}
#nineteen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
#nineteen>p{
  margin-bottom: 0px;
  margin-top: 0px;
}