<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sucess Full</title>
    <style>body{
        text-align: center;
    /* ?   background-image: url("https://cdn.shopify.com/s/files/1/0057/8938/4802/files/Untitled-2_01_95d6b90e-ab41-402c-bc3d-dfd5545d98a4.jpg?v=1639989127"); */
      
        color:white
      }
      
      #container2 {
        width: 100%;
        display: grid;
        grid-template-rows: auto auto;
      }
      .con {
        width: 500px;
        height: 500px;
        margin: auto;
        /* border: 1px solid red; */
      }
      .con > img {
        width:100%;
      }
      h1 {
       
      
        font-size: 40px;
        text-align: center;
      }
      header {
        font-family: fontawesome;
        width: 100%;
        height: 60px;
        /* border: 1px solid orange; */
        display: flex;
        text-align: center;
      }
      
      
      .con{
        width: 25%;
      }
      .bimage{
       
        margin-right: 100px;;
        align-items: flex-start;
        cursor: pointer;
        width: auto;
      }
      
      #sc {
        text-align: center;
        font-size: 40px;
        /* background-color: rgb(39, 185, 160); */
        color: rgb(0, 0, 0);
        /* border: 1px solid red; */
        width: 70%;
        height: 80%;
      }
      .bicon {
        /* border: 1px solid red; */
        width: 15%;
        height: 100%;
      }
      
      .home {
        /* border: 1px solid red; */
        width: 15%;
        height: 100%;
      }
      
      #homebutton {
        padding: 10px 30px;
        margin-top: 10px;
        background-color: yellow;
        border: none;
        color: black;
        cursor: pointer;
      }
      
      #tq {
        text-align: center;
      }
      #h1tag {
        text-align: center;
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      } </style>
  </head>
  <body>
    <div id="container2">
      <header>
        <div class="bicon">
          <img onclick="window.location.href='index.html'"
            class="bimage"
            src=
            https://cdn.shopify.com/s/files/1/0057/8938/4802/files/boat_logo_small.webp?v=1672379935
            alt=""
            srcset=""
            height="35px"
            width="170px"
            
          />
        </div> <div id="sc">Thank You For Shopping With Us</div
       >
        <!-- <div class="home">
          <button id="homebutton"><a href="./index.html">Home</a></button>
        </div> -->
      </header>
      <div class="con">
        <img
          class="greenimage"
          src=https://www.shutterstock.com/image-vector/confirmation-approval-order-operation-payment-260nw-2107827350.jpg -->
        />

        <h1 id="h1tag">Your Order Placed</h1>
        <h1 id="tq">Thank You</h1>
      </div>
    </div>
  </body>
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js">
  swal ( "Oops" ,  "Something went wrong!" ,  "error" );

</script>